/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.menu{
		text-align: right;
		margin-top: 32px;
		
		}
		.menu ul li {
			padding: 5px;
		}
		
		/*header part design start */
		#header_part{
		
			height: 45vh;
			
		}
		.banner_text h2 {
			
			font-size: 50px;
			
		}
		
		/*service part responsive design start */
		#sevice_part2 {
			background-color: #fafafa;
			padding: 50px 0;
		}
		#sevice_part1 {
			padding: 50px 0;
		}
		
		
		#sevice_part1 h2, #sevice_part2 h2 {
			
			font-size: 37px;
			
		
		}
		
		#sevice_part1 p, #sevice_part2 p {
			padding-top: 28px;
			
			font-size: 15px;
		}
		
		/*paasurd part  responsive start */
		#peacurd_part {
			padding: 10px 0;
		}
		
		.peacurd_icon {
			width: 55px;
			height: 55px;
		
			margin-left: 15px;
			
		}
		
		.peacurd_part_content {
			padding: 10px 0;
		}
		
		.peacurd_icon_text h3 {
			font-size: 15px;
			padding: 10px 0;
		}
		
		.peacurd_icon_text p {
			font-size: 10px;
		}
		
		

		/*amazing part responsvi start */

.testimonial_imag img {
	width: 200px;
	height: 200px;
	
}

/*testimonila part design responsive start */
#testimoila_part {
	padding: 50px 0;
	
}

/*company part design responsive start */
#comapnyPart {
	padding: 30px 0px;
}


/*teampart design responsive start */
.team-part_content {
	padding: 30px 0;
}
.team_part_image img {
	width: 200px;
	height: 200px;
	
}

.team_icon ul li a {
	
	font-size: 17px;
	width: 25px !important;
	height: 25px !important;
	line-height: 25px;
}

.team-part_content {
	padding: 30px 0;
}

.team_some_text p {
	padding: 2px 89px;
	font-size: 17px;
}

/*contract part start */
#contract_part {
	padding: 50px 0px;
	
}



.testimonial_text h2 {
	font-size: 45px;

}
.cont_p {
	font-size: 11px !important;
	
}

.contract_item p {
	
	font-size: 10px;
	
}


.footer_text {
	margin-top: 65px;
	
}

		/*575px part responsive design end */


 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.menu{
		text-align: right;
		margin-top: 32px;
		
		}
		.menu ul li {
			padding: 5px;
		}
		
		/*header part design start */
		#header_part{
		
			height: 45vh;
			
		}
		.banner_text h2 {
			
			font-size: 50px;
			
		}
		
		/*service part responsive design start */
		#sevice_part2 {
			background-color: #fafafa;
			padding: 50px 0;
		}
		#sevice_part1 {
			padding: 50px 0;
		}
		
		
		#sevice_part1 h2, #sevice_part2 h2 {
			
			font-size: 37px;
			
		
		}
		
		#sevice_part1 p, #sevice_part2 p {
			padding-top: 28px;
			
			font-size: 15px;
		}
		
		/*paasurd part  responsive start */
		#peacurd_part {
			padding: 10px 0;
		}
		
		.peacurd_icon {
			width: 55px;
			height: 55px;
		
			margin-left: 15px;
			
		}
		
		.peacurd_part_content {
			padding: 10px 0;
		}
		
		.peacurd_icon_text h3 {
			font-size: 15px;
			padding: 10px 0;
		}
		
		.peacurd_icon_text p {
			font-size: 10px;
		}

/*amazing part responsvi start */

.testimonial_imag img {
	width: 200px;
	height: 200px;
	
}

/*testimonila part design responsive start */
#testimoila_part {
	padding: 50px 0;
	
}

/*teampart design responsive start */
.team-part_content {
	padding: 30px 0;
}
.team_part_image img {
	width: 200px;
	height: 200px;
	
}

.team_icon ul li a {
	
	font-size: 20px;
	width: 41px !important;
	height: 41px !important;
	line-height: 41px;
}

.team-part_content {
	padding: 30px 0;
}

.team_some_text p {
	padding: 2px 89px;
	font-size: 17px;
}

/*contract part start */
#contract_part {
	padding: 50px 0px;
	
}
.testimonial_text h2 {
	font-size: 45px;

}
.cont_p {
	font-size: 11px !important;
	
}

.contract_item p {
	
	font-size: 10px;
	
}


.footer_text {
	margin-top: 65px;
	
}

/*contract part end*/

		
		/*576px part responsive design end */




 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
/*header part design */

.menu{
text-align: right;
margin-top: 32px;

}
.menu ul li {
	padding: 5px;
}

/*header part design start */
#header_part{

	height: 45vh;
	
}

/*service part responsive design start */
#sevice_part1 {
	padding: 60px 0;
}


#sevice_part1 h2, #sevice_part2 h2 {
	
	font-size: 37px;
	

}

#sevice_part1 p, #sevice_part2 p {
	padding-top: 28px;
	
	font-size: 15px;
}

/*paasurd part  responsive start */
#peacurd_part {
	padding: 20px 0;
}

.peacurd_icon {
	width: 55px;
	height: 55px;

	margin-left: 35px;
	
}

.peacurd_part_content {
	padding: 15px 0;
}

.peacurd_icon_text h3 {
	font-size: 18px;
	padding: 15px 0;
	
}

.peacurd_icon_text p {
	font-size: 15px;
}

/*amazing part responsvi start */

.testimonial_imag img {
	width: 200px;
	height: 200px;
	
}

/*testimonila part design responsive start */
#testimoila_part {
	padding: 50px 0;
	
}

/*teampart design responsive start */
#team_part {
	padding: 50px 0;
	
}
.team_part_image img {
	width: 200px;
	height: 200px;
	
}

.team_icon ul li a {
	
	font-size: 20px;
	width: 41px !important;
	height: 41px !important;
	line-height: 41px;
}

.team-part_content {
	padding: 50px 0;
}

.team_some_text p {
	padding: 2px 89px;
	font-size: 17px;
}

/*contract part start */
#contract_part {
	padding: 50px 0px;
	
}
.testimonial_text h2 {
	font-size: 45px;

}
.cont_p {
	font-size: 11px !important;
	
}

.contract_item p {
	
	font-size: 12px;
	
}




/*contract part end*/


/*768px part responsive design end */
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

/*header part design start */
#header_part{

	
		height: 50vh;
		


}







/*preasud icon part responsive */

.peacurd_icon {
	
	margin-left: 78px;
	
}



 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 




 }

















